html {
    height: 100%;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    overflow: hidden;
}

p,
li,
span,
input,
h4,
label {
    font-family: 'Roboto', sans-serif!important;
    letter-spacing: 0.05em;
}

h4 {
    color: #111;
    font-size: 16px;
    margin: 0px;
    margin-left: 10px;
    font-weight: normal;
    text-decoration: underline;
}

canvas {
    border: 1px solid black;
    background-color:transparent;
    width: 800px;
    height: 270px;
    font-family: 'Roboto'!important;
}

#validMessage {
    color: #111;
    font-size: 12px;
    text-align: center;
}

#content {
    margin: auto;
    width: 800px;
    margin-top: 10%;
    height: 100%;
}

.button {
    background-color: transparent;
    border: 1px solid #888;
    color: #111;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    width: 150px;
}

.button:hover {
    border: 1px solid #111;
}

input {
    outline: none;
}

.sml {
    font-size: 12px;
    padding: 8px 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 120px;
    opacity: 0.7;
}

.button-active {
    border: 1px solid #111;
    cursor: default;
    opacity: 1;
}

#controls {
    width: 100%;
    margin: auto;
}

#buttons {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    margin-left: 8px;
}

#infoContainer {
    color: #EEE;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
}

#buttons>input {
    display: inline;
}

input[type='text'] {
    height: 24px;
    background-color: transparent;
    border: 1px solid #111;
    margin-top: 5px;
    color: #111;
    width: 800px;
}

a {
    color: #111;
    text-align: center;
}

#info {
    width: 32px;
    height: 32px;
}

#copy {
    color: #111;
    text-align: right;
    float: right;
    visibility: hidden;
    font-size: 10px;
}

@media print {
    input,
    span,
    p,
    a,
    h4,
    label {
        display: none!important;
    }
    @page {
        size: landscape;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    width: 750px;
    font-size: 16px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    margin-left: -60px;
    color: #111;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    bottom: 40px;
    left: 65px;
    z-index: 1;
    line-height: 18px;
    font-size: 12px;
}

ul {
    list-style: circle;
}

li {
    margin-left: -20px;
}

#donations {
    font-size: 12px;
}

#infoTip {
    font-style: bold;
    cursor: pointer;
}

 ::-webkit-input-placeholder {
    color: #111;
}

 ::-moz-placeholder {
    color: #111;
}

 :-ms-input-placeholder {
    color: #111;
}

 :-moz-placeholder {
    color: #111;
}

#download, #seed-help {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#attr,
#ver {
    position: absolute;
    text-align: right;
    right: 10px;
    bottom: 32px;
    color: #111;
    font-size: 12px;
}

#attr {
    bottom: 10px;
}

#versions {
    position: absolute;
    top: 10px;
    left: 10px;
}

#options,
#advanced {
    visibility: hidden;
}

#optionsBtn,
#advancedBtn {
    cursor: pointer;
}

#index-num,
#security-level {
    opacity: 1;
    width: 120px;
    margin-left: 10px;
}

label {
    font-size: 12px;
    color: #111;
    margin-left: 10px;
}