[Desktop Entry]
Name=EOS (EOS)
Exec=/usr/lib/firefox-esr/firefox-esr --private-window /home/vinktar/.local/share/vinktar/eos-paper-wallet/index.html
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/vinktar/.local/share/icons/vinktar/64x64/apps/eospaperwallet.png
Comment=
Categories=PaperWallets;
StartupNotify=true
